.cell {
   border-color: var(--color-indigo-400);
   border-bottom-width: 0.15rem;
   color: var(--color-zinc-900);
}

.cell.owner {
   background-color: var(--color-zinc-400);
   color: var(--color-zinc-100);
}

.cell.global {
   background-color: var(--color-zinc-500);
   color: var(--color-zinc-100);
}

.cell.selected {
   background-color: var(--color-emerald-300);
}

.cell > button {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   padding: 0.5rem;
}

.cell.selected > button {
   border: 0.15rem solid var(--color-emerald-900);
}

.cell-avatar {
   height: 2rem;
   width: 2rem;
}
