.mark-clue-popup {
   margin-top: -3.5rem;
}

.mark-owner {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-shrink: 0;
   padding: 0.5rem;
   border-radius: 0.25rem;
   border: 0.125rem solid var(--color-light-gray);
   background-color: var(--color-like-white);
}

.mark-owner:hover {
   border-color: var(--color-like-black);
}

.is-owner {
   background-color: var(--color-light-green);
}

.not-owner {
   background-color: var(--color-light-gray);
}

.mark-owner-avatar-container {
   position: relative;
}

.mark-owner-avatar {
   width: 4rem;
   height: 4rem;
}

.mark-icon {
   color: var(--color-like-white);
}

.mark-owner-buttons {
   justify-self: end;
}
