.not-owner-list {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-end;
   justify-content: space-between;
   width: 100%;
   height: 100%;
}

.not-owner-list-avatar {
   height: 1rem;
   width: 1rem;
}
