.cluesheet-sub-header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-color: var(--color-indigo-400);
   border-bottom-width: 0.15rem;
   padding: 0.5rem;
}

.cluesheet-sub-header > img {
   height: 1rem;
   margin-left: auto;
   margin-right: auto;
}

.cluesheet-sub-header.border-right {
   border-right-width: 0.15rem;
}

.cluesheet-sub-header.border-right-thick {
   border-right-width: 0.16rem;
}

.cluesheet-sub-header.border-left {
   border-left-width: 0.16rem;
}

.cluesheet-sub-header > .title {
   font-size: 0.75rem;
   line-height: 1rem;
}
