.color-row-cell {
   display: flex;
   gap: 0.25rem;
   place-items: center;
   text-align: left;
   padding: 0.25rem;
   border-color: var(--color-indigo-400);
   border-left-width: 0.16rem;
   height: 3rem;
}

.color-row-cell.border-bottom {
   border-bottom-width: 0.15rem;
}

.color-row-cell.border-bottom-thick {
   border-bottom-width: 0.16rem;
}

.color-row-cell.border-top {
   border-top-width: 0.15rem;
}

.color-row-cell > img {
   height: 1rem;
}

.color-row-cell > .title {
   font-size: 0.75rem;
   line-height: 1rem;
}
