.confirm-context-container {
   position: relative;
   width: 100%;
   height: 100%;
}

.confirm-context-backdrop {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 150;
   background-color: oklch(27.4% 0.006 286.033 / 0.5);
}
