.message-display {
   display: flex;
   flex-direction: column;
   justify-content: center;
   max-width: 66%;
   padding-right: 1rem;
}

.message-display > p {
   align-self: center;
   background: var(--color-dark-orange);
   padding: 1rem;
   border-radius: 0.25rem;
   filter: var(--shadow-sm);
}

.message-button {
   align-self: flex-end;
}
