.opponent {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem;
}

.opponent-avatar {
   width: 6rem;
   height: 6rem;
   border-radius: 100%;
   margin-bottom: 0.5rem;
}

.opponent-avatar.current-player {
   border: 0.25rem solid var(--color-rose);
   filter: var(--shadow-md);
}

.opponent-avatar.highlight {
   border: 0.25rem solid var(--color-light-green);
   filter: var(--shadow-md);
}

.opponent > .opponent-name {
   color: var(--color-light-gray);
}

.opponent.current-player > .opponent-name {
   font-weight: bold;
   color: var(--color-like-white);
   padding: 0px;
}

.opponent > .opponent-note {
   font-size: 0.75rem;
   line-height: 0.85rem;
}
