.button {
   margin: 0.25rem;
   filter: var(--shadow-sm);
   border-width: 0.125rem;
   color: var(--color-like-white);
   cursor: pointer;
}

.button:not(.disabled):hover {
   text-decoration: underline;
   border-color: var(--color-like-white);
}

/* Colors */
.button-green {
   background-color: var(--color-green);
   border-color: var(--color-green);
}

.button-orange {
   background-color: var(--color-orange);
   border-color: var(--color-orange);
}

.button-yellow {
   background-color: var(--color-dark-yellow);
   border-color: var(--color-dark-yellow);
}

.button-red {
   background-color: var(--color-dark-red);
   border-color: var(--color-dark-red);
}

.button-disabled {
   background-color: var(--color-gray);
   border-color: var(--color-gray);
   cursor: not-allowed;
}

/* Shapes */
.button-big {
   font-size: 1.25rem;
   line-height: 1.75rem;
   padding: 0.5rem 0.75rem 0.75rem 0.75rem;
   border-radius: 0.375rem;
}

.button-normal {
   padding: 0.25rem 0.5rem 0.25rem 0.5rem;
   border-radius: 0.375rem;
}

.button-round {
   padding: 0.25rem 0.5rem 0.25rem 0.5rem;
   border-radius: 100%; /* 	border-radius: 9999px; */
}
