.input > label {
   margin-right: 0.5rem;
}

.input > input {
   color: var(--color-like-black);
   background-color: var(--color-like-white);
   width: min-content;
   padding: 0.25rem;
   margin: 0.25rem;
   border-radius: 0.25rem;
}

.input > input:focus-visible {
   outline: 0.125rem solid var(--color-light-green);
   outline-offset: 1px;
}
