.input-select {
   display: flex;
   align-items: center;
}

.input-select > label {
   margin-right: 0.5rem;
}

.input-select > select {
   color: var(--color-zinc-800);
   background-color: var(--color-zinc-100);
   width: min-content;
   padding: 0.25rem;
   margin: 0.25rem;
   border-radius: 0.25rem;
}

.input-select > select:focus-visible {
   outline: 0.125rem solid var(--color-emerald-300);
   outline-offset: 1px;
}
