.turn-controls-outer {
   position: relative;
   margin-right: 2rem;
   top: -0.75rem;
   height: 100%;
}

.turn-controls-inner {
   position: absolute;
   z-index: 50;
}

.turn-controls {
   display: flex;
   flex-direction: column;
}

.end-turn-button {
   position: relative;
   left: -1.25rem;
}

.turn-over {
   border-color: var(--color-like-white);
}

.discard-hand-button {
   position: relative;
   left: -0.5rem;
}

.guess-button {
   position: relative;
   left: -1.5rem;
   top: -0.25rem;
}

.leave-button {
   position: relative;
   left: -3.5rem;
   top: -1.25rem;
}

/* Guess Button Styles */
.guessing {
   border-color: var(--color-like-white);
}
