.discard-pile-placeholder {
   display: flex;
   align-items: center;
   width: 5rem;
   height: 7rem;
   padding: 1rem;
   border-radius: 0.75rem;
   border: 0.125rem dashed var(--color-zinc-300);
   text-align: center;
   font-size: 0.75rem;
   line-height: 1rem;
   background-color: var(--color-zinc-700);
}

.discard-background {
   background-color: var(--color-zinc-700);
}
