@import './preflight.css';

:root {
   --color-zinc-100: oklch(96.7% 0.001 286.375);
   --color-zinc-300: oklch(87.1% 0.006 286.286);
   --color-zinc-400: oklch(70.5% 0.015 286.067);
   --color-zinc-500: oklch(55.2% 0.016 285.938);
   --color-zinc-600: oklch(44.2% 0.017 285.786);
   --color-zinc-700: oklch(37% 0.013 285.805);
   --color-zinc-800: oklch(27.4% 0.006 286.033);
   --color-zinc-900: oklch(21% 0.006 285.885);

   --color-green-300: oklch(87.1% 0.15 154.449);
   --color-green-900: oklch(39.3% 0.095 152.535);

   --color-emerald-300: oklch(84.5% 0.143 164.978);
   --color-emerald-700: oklch(50.8% 0.118 165.612);
   --color-emerald-900: oklch(37.8% 0.077 168.94);

   --color-violet-300: oklch(81.1% 0.111 293.571);
   --color-violet-800: oklch(43.2% 0.232 292.759);
   --color-violet-900: oklch(38% 0.189 293.745);

   --color-purple-300: oklch(82.7% 0.119 306.383);
   --color-purple-900: oklch(38.1% 0.176 304.987);

   --color-fuchsia-300: oklch(83.3% 0.145 321.434);
   --color-fuchsia-900: oklch(40.1% 0.17 325.612);

   --color-indigo-400: oklch(67.3% 0.182 276.935);
   --color-indigo-900: oklch(35.9% 0.144 278.697);

   --color-rose-600: oklch(58.6% 0.253 17.585);

   --color-orange-600: oklch(64.6% 0.222 41.116);
   --color-orange-700: oklch(55.3% 0.195 38.402);
   --color-ornage-900: oklch(40.8% 0.123 38.172);

   --color-yellow-700: oklch(55.4% 0.135 66.442);
   --color-yellow-900: oklch(42.1% 0.095 57.708);

   --color-red-800: oklch(44.4% 0.177 26.899);
   --color-red-900: oklch(39.6% 0.141 25.723);

   --shadow: drop-shadow(0.25rem 0.25rem 0.25rem var(--color-zinc-800));
   --shadow-md: drop-shadow(0 4px 3px var(--color-zinc-800))
      drop-shadow(0 2px 2px var(--color-zinc-800));

   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;

   background-color: var(--color-zinc-900);
   color: var(--color-zinc-100);

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Amarante', serif;
   font-weight: 400;
   font-style: normal;
   line-height: 1.1;
   color: #ffffff;
}

h1 {
   font-size: 3.2em;
}

h2 {
   font-size: 2.5em;
}

body {
   margin: 0;
   display: flex;
   flex-grow: 0;
   place-items: center;
   justify-content: center;
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: 0 solid;
}

ol,
ul,
menu {
   list-style: none;
}

.animate-pulse {
   animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.pause-animation:hover {
   animation-play-state: paused;
}

.background-red {
   background-color: var(--color-red-900);
}

.background-green {
   background-color: var(--color-emerald-900);
}

.background-blue {
   background-color: var(--color-indigo-900);
}

.background-yellow {
   background-color: var(--color-yellow-700);
}

.background-dragon {
   background-color: var(--color-violet-900);
}

.background-wyvern {
   background-color: var(--color-purple-900);
}

.background-hydra {
   background-color: var(--color-fuchsia-900);
}

.background-dragon-light {
   background-color: var(--color-violet-300);
}

.background-wyvern-light {
   background-color: var(--color-purple-300);
}

.background-hydra-light {
   background-color: var(--color-fuchsia-300);
}

.padding-4 {
   padding: 1rem;
}

.divider {
   color: var(--color-violet-800);
   margin-top: 1rem;
}

/* .shadow {
   filter: drop-shadow(0.25rem 0.25rem 0.25rem var(--color-zinc-800));
} */
